.img {
  height: 30dvh;
  width: 30dvh;
  object-fit: cover;
  border-radius: 5px;
  transition: scale 300ms ease-in-out, filter 200ms ease-in-out,
    transform 200ms ease-in-out, box-shadow 200ms ease-in-out;

  &:hover {
    scale: 1.1;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
  }

  &:active {
    transform: scale(0.9);
    filter: brightness(50%);
  }
}
